@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FAFBFA;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.small-grid{
    display: flex;
}

.font-mont {
    font-family: "Montserrat", sans-serif;
}
.font-robo{
    font-family: "Roboto", sans-serif;
}
.font-pop{
    font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 6px; 
}

/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 24px;
}
/* To handle height for vertical scrollbar, you can control the thumb height */
::-webkit-scrollbar-thumb {
    max-height: 200px; /* Minimum height of the thumb handle */
}



/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar {
    overflow-y: scroll; /* Ensure vertical scrolling is allowed */
}

.hide-scrollbar::-webkit-scrollbar {
    width: 0; /* Hide scrollbar for Chrome, Safari and Opera */
    background: transparent; /* Optional: make background transparent */
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}